@import views.html.header

<!DOCTYPE html>
<html>
    <head>
        <title>Главная</title>
        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/style.css")"/>
    </head>
    <body>
        @header()
    <div class="card" style="width: 900px;">
        <canvas id="plot" onclick="" height="440px" width="440px"
        style="margin-top: 20px; margin-bottom: 20px;"></canvas>
    </div>
    <script src="https://ru.vuejs.org/js/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/0.7.0/vue-resource.min.js"></script>
    <script src="@routes.Assets.versioned("javascripts/script.js")"></script>
    </body>
</html>