@import views.html.header

@(login: String)

<!DOCTYPE html>
<html>
    <head>
        <title>Главная</title>
        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/style.css")"/>
    </head>
    <body>
        @header(true, login.toUpperCase)
        <div class="card" style="width: 900px;">
            <canvas id="plot" onclick="coordPlot.plotClick(event)" height="440px" width="440px"
            style="margin-top: 20px; margin-bottom: 20px;">
            </canvas>
            <div style="float: right;">
                <div id="r_div" class="form-group panel panel-default" v-bind:class="{ 'has-error' : incorrectR }">
                    <div class="panel-heading">
                        <label class="control-label" style="margin: 0px;">Параметр R</label>
                    </div>
                    <div class="panel-body" style="padding: 10px;">
                        <div style="margin: 3px;">
                            <div class="btn-group" role="group">
                                <button type="button" v-on:click="selectR" class="btn btn-default">-2</button>
                                <button type="button" v-on:click="selectR" class="btn btn-default">-1.5</button>
                                <button type="button" v-on:click="selectR" class="btn btn-default">-1</button>
                                <button type="button" v-on:click="selectR" class="btn btn-default">-0.5</button>
                                <button type="button" v-on:click="selectR" class="btn btn-default">0</button>
                            </div>
                        </div>
                        <div style="margin: 3px;">
                            <div class="btn-group" role="group" style="margin: 3px;">
                                <button type="button" v-on:click="selectR" class="btn btn-default">0.5</button>
                                <button type="button" v-on:click="selectR" class="btn btn-default">1</button>
                                <button type="button" v-on:click="selectR" class="btn btn-default">1.5</button>
                                <button type="button" v-on:click="selectR" class="btn btn-default">2</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="point_div" class="form-group panel panel-default"
                v-bind:class="{ 'has-error' : incorrectCoords }">
                    <div class="panel-heading">
                        <label class="control-label" style="margin: 0px;">Проверка точки</label>
                    </div>
                    <div class="panel-body" style="padding: 10px;">
                        <nav class="navbar navbar-default" style="margin: 0px;">
                            <div class="container-fluid">
                                <div class="navbar-header" style="float: left;">
                                    <label class="navbar-brand">X</label>
                                </div>
                                <div class="collapse navbar-collapse" style="float: right;">
                                    <div style="margin: 5px;">
                                        <div class="btn-group" role="group">
                                            <button type="button" v-on:click="selectX" class="btn btn-default">-2</button>
                                            <button type="button" v-on:click="selectX" class="btn btn-default">-1.5</button>
                                            <button type="button" v-on:click="selectX" class="btn btn-default">-1</button>
                                            <button type="button" v-on:click="selectX" class="btn btn-default">-0.5</button>
                                            <button type="button" v-on:click="selectX" class="btn btn-default">0</button>
                                        </div>
                                    </div>
                                    <div style="margin: 5px;">
                                        <div class="btn-group" role="group">
                                            <button type="button" v-on:click="selectX" class="btn btn-default">0.5</button>
                                            <button type="button" v-on:click="selectX" class="btn btn-default">1</button>
                                            <button type="button" v-on:click="selectX" class="btn btn-default">1.5</button>
                                            <button type="button" v-on:click="selectX" class="btn btn-default">2</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </nav>
                        <nav class="navbar navbar-default" style="margin: 0px; margin-top: 10px;">
                            <div class="container-fluid">
                                <div class="navbar-header" style="float: left;">
                                    <label class="navbar-brand">Y</label>
                                </div>
                                <div class="collapse navbar-collapse" style="float: right; margin-top: 14px;">
                                    <input v-model.trim="yValue" v-on:blur="isValidY" type="text"
                                    maxlength="20" placeholder="-3 ... 3"/>
                                </div>
                            </div>
                        </nav>
                        <button class="mt_button" style="width: 100%; margin: 0px; margin-top: 10px;" v-on:click="check">
                            Проверить
                        </button>
                        <div class="alert alert-warning" v-if="hasWarning" role="alert" style="margin: 0px; padding: 10px; margin-top: 10px;">
                            {{ message }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="result_div" v-if="showTable" class="panel panel-default" style="width: 900px; margin: auto; margin-top: 10px;">
            <div class="panel-heading" style="text-align: center;">
                Результаты проверок
            </div>
            <div id="scroll-div">
                <table class="table">
                    <thead>
                        <tr>
                            <th width="20%">x</th>
                            <th width="20%">y</th>
                            <th width="20%">r</th>
                            <th>принадлежит области</th>
                        </tr>
                    </thead>
                    <tbody id="result_table_body">
                    </tbody>
                </table>
            </div>
        </div>
        <script src="https://ru.vuejs.org/js/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/0.7.0/vue-resource.min.js"></script>
        <script src="@routes.Assets.versioned("javascripts/vue_main.js")"></script>
    </body>
</html>